* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/*inicio de header*/    

header {
    position: sticky;top: 0;
}
.flex-container-header {
    display: flex;
    background-color: #90d4ff;
    box-sizing: border-box;
    padding: 10px;
    height: 10%;
    width: 100%;
 }

.header-logo-container {
    display: flex;
    width: 20%;
    justify-content: center;
}

#imagen-logo {
    width: 90%;
    margin-left: 20px;
}

.header-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    }

#imagen-busca {
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 22px;
}

.search-bar-form {
    width: 80%;
    max-width: 700px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

#search-bar {
    width: 100%;
    height: 60%;
    border-radius: 10px;
    border-color: transparent;
}

.header-buttons-container {
    display: flex;
    width: 20%;

}
 
.button-header {
    background-color:#dcfbff;
    border: black;
    text-align: center;
    font-size: 18px;
    margin: 14px 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    height: 60%;
    
    }

.main {
    background-color: #76777c;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
/*inicio de article1*/    
.article1 {
    height: 50vh;
    width: 80%;
    background-color: #dcfbff;
    padding: 1em 4em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-article1{
    font-size: 4em;
}
.btn-article1{
    background-color: #edd3d7;
    text-decoration: none;
    padding: 1em 4em;
    color: #76777c;
    font-size: 1em;
    margin: 1em 0;
    border-radius: 0.5em;
}
.btn-article:hover{
    background-color: #edd3d7;
    color: #0c0c0c;
    transition: 0.5s;    
}
/*inicio de article2*/
.article2 {
    height: 100vh;
    width: 80%;
    padding: 1em 4em;
    margin: 1em;
    background-color: #76777c;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.title-article2 {
    font-size: 2em;
    color: #ffffff;
}
.galery {
    height: 60vh;
    width: 100%;
    background-color: #dcfbff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  

}
.box-galery{
    width: 30%;
    height: 100%;
    background-color: #e2e2e2;

}
.box.img{
    width: 100%;
    height: 50%;
    background-color: #6e0c19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #90d4ff;
}

.listaFooterLeft{
    margin-left: 20px;
    margin-right: 20px;
}

.footerLeft{
    display: inline-flex;
    width: 40%;
    margin-bottom: 60px;
    margin-top: 10px;
}

.listaFooterRight{
    margin: 0;
    padding: 0;
}

.footerRight{
    text-align: center;
    justify-content: center;
    font-size: 0.8em;
}

.iconosredes {
    margin-left: 20px;

}